[submodule "contrib/imgui"]
	path = contrib/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "contrib/gl3w"]
	path = contrib/gl3w
	url = git@github.com:skaslev/gl3w.git
[submodule "contrib/ChaiScript"]
	path = contrib/ChaiScript
	url = git@github.com:ChaiScript/ChaiScript.git
